#advantage {
    .wrapper {
        &__cards1 {
            display: flex;
            align-items: center;
            gap: 15px;
            text-align: center;
            margin-bottom: 40px;

            &__items1 {
                background: linear-gradient(180.04deg, #fe94a6 0.04%, #f2f2f2 65.84%);
                border-radius: 16px;
                width: 250px;
                height: 550px;

                padding: 24px 8px;

                img {
                    padding: 24px 27px 16px 27px;
                }

                &--txt {
                    margin-bottom: 80px;

                    &-sd {
                        h3 {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 22px;
                            line-height: 29px;
                            text-align: center;
                            color: #100e0e;
                            margin-bottom: 8px;
                            height: 58px;
                        }

                        p {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            text-align: center;
                            color: #585656;
                            height: 114px;
                        }
                    }
                }

                a {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: $dark-blue;
                    padding: 17.5px 60.5px;
                    border: 1px solid #0071e4;
                    border-radius: 8px;
                    text-decoration: none;
                }
            }

            &__items2 {
                background: linear-gradient(180.04deg, #e685ff 0.04%, #f2f2f2 65.84%);
                border-radius: 16px;
                padding: 24px 8px;

                width: 250px;
                height: 550px;

                img {
                    padding: 24px 27px 16px 27px;
                }

                &--txt {
                    margin-bottom: 80px;

                    &-sd {
                        h3 {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 29px;
                            text-align: center;
                            color: #100e0e;
                            margin-bottom: 8px;
                            height: 58px;
                        }

                        p {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            text-align: center;
                            color: #585656;
                            height: 114px;
                        }
                    }
                }

                a {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: $dark-blue;
                    padding: 17.5px 60.5px;
                    border: 1px solid #0071e4;
                    border-radius: 8px;
                    text-decoration: none;
                }
            }

            &__items3 {
                background: linear-gradient(180.04deg, #7de9ff 0.04%, #f2f2f2 65.84%);
                border-radius: 16px;
                padding: 24px 8px;

                width: 250px;
                height: 550px;

                img {
                    padding: 24px 27px 16px 27px;
                }

                &--txt {
                    margin-bottom: 80px;

                    &-sd {
                        h3 {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 29px;
                            text-align: center;
                            color: #100e0e;
                            margin-bottom: 8px;
                            height: 58px;
                        }

                        p {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            text-align: center;
                            color: #585656;
                            height: 114px;
                        }
                    }
                }

                a {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: $dark-blue;
                    padding: 17.5px 60.5px;
                    border: 1px solid #0071e4;
                    border-radius: 8px;
                    text-decoration: none;
                }
            }

            &__items4 {
                background: linear-gradient(180.04deg, #ffe685 0.04%, #f2f2f2 65.84%);
                border-radius: 16px;
                padding: 24px 8px;

                width: 250px;
                height: 550px;

                img {
                    padding: 24px 27px 16px 27px;
                }

                &--txt {
                    margin-bottom: 80px;

                    &-sd {
                        h3 {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 29px;
                            text-align: center;
                            color: #100e0e;
                            margin-bottom: 8px;
                            height: 58px;
                        }

                        p {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            text-align: center;
                            color: #585656;
                            height: 114px;
                        }
                    }
                }

                a {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: $dark-blue;
                    padding: 17.5px 60.5px;
                    border: 1px solid #0071e4;
                    border-radius: 8px;
                    text-decoration: none;
                }
            }

            &__items5 {
                background: linear-gradient(180.04deg, #ffe685 0.04%, #f2f2f2 65.84%);
                border-radius: 16px;
                padding: 24px 8px;

                width: 250px;
                height: 550px;

                img {
                    padding: 24px 27px 16px 27px;
                }

                &--txt {
                    margin-bottom: 80px;

                    &-sd {
                        h3 {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 29px;
                            text-align: center;
                            color: #100e0e;
                            margin-bottom: 8px;
                            height: 58px;
                        }

                        p {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 19px;
                            text-align: center;
                            color: #585656;
                            height: 114px;
                        }
                    }
                }

                a {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: $dark-blue;
                    padding: 17.5px 60.5px;
                    border: 1px solid #0071e4;
                    border-radius: 8px;
                    text-decoration: none;
                }
            }

            a:hover {
                background-color: #2A93FD;
                color: #ffffff;
            }

            a:active {
                background-color: $dark-blue;
            }
        }

        &__cards2 {
            display: none;

            &--card {
                display: block;
                width: 288px;
                height: 129px;
                margin-bottom: 24px;

                &-up {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    margin-bottom: 12px;

                    img {
                        width: 32px;
                        height: 32px;
                    }

                    h3 {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        color: #100e0e;
                        height: 58px;
                        display: flex;
                        align-items: center;
                    }
                }

                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 19px;
                    color: #585656;
                    height: 114px;
                }
            }

            &--card:nth-child(2) {
                height: 167px;
            }

            &--card:nth-child(3) {
                height: 145px;
            }
        }
    }
}

@media only screen and (max-width: 1240px) {
    #advantage {
        display: flex;
        justify-content: center;
        align-items: center;

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__cards1 {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 40px;
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    #advantage {
        h1 {
            text-align: center;
        }

        .wrapper {
            display: flex;
            flex-direction: column;

            &__cards1 {
                display: flex;
                flex-direction: column;

                &__items1 {
                    display: flex;
                    border-radius: 16px;
                    width: 720px;
                    height: 158px;
                    padding: 24px;
                    background: #F9F9F9;

                    img {
                        width: 64px;
                        height: 64px;
                        padding: 0;
                    }

                    &--txt {
                        display: flex;

                        &-sd {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            align-items: flex-start;
                            margin: 0 16px 0 27px;

                            h3 {
                                font-style: normal;
                                font-weight: 700;
                                font-size: 22px;
                                line-height: 29px;
                                text-align: center;
                                color: #100e0e;
                                margin-bottom: 8px;
                                height: 58px;
                            }

                            p {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                color: #585656;
                                text-align: start;
                                height: 114px;
                            }
                        }
                    }

                    a {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: $dark-blue;
                        padding: 17px auto;
                        width: 212px;
                        height: 56px;
                        border: 1px solid #0071e4;
                        border-radius: 8px;
                        text-decoration: none;
                        margin-top: 25px;
                        display: flex;
                        justify-content: center;
                    }
                }

                &__items2 {
                    display: flex;
                    border-radius: 16px;
                    width: 720px;
                    height: 177px;
                    padding: 24px;
                    background: #F9F9F9;

                    img {
                        width: 64px;
                        height: 64px;
                        padding: 0;
                    }

                    &--txt {
                        display: flex;

                        &-sd {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            align-items: flex-start;
                            margin: 0 16px 0 27px;

                            h3 {
                                font-style: normal;
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 29px;
                                text-align: center;
                                color: #100e0e;
                                margin-bottom: 8px;
                                height: 58px;
                            }

                            p {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                text-align: start;
                                color: #585656;
                                height: 114px;
                            }
                        }
                    }

                    a {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: $dark-blue;
                        padding: 17px auto;
                        width: 212px;
                        height: 56px;
                        border: 1px solid #0071e4;
                        border-radius: 8px;
                        text-decoration: none;
                        margin-top: 25px;
                        display: flex;
                        justify-content: center;
                    }
                }

                &__items3 {
                    display: flex;
                    border-radius: 16px;
                    width: 720px;
                    height: 139px;
                    padding: 24px;
                    background: #F9F9F9;

                    img {
                        width: 64px;
                        height: 64px;
                        padding: 0;
                    }

                    &--txt {
                        display: flex;

                        &-sd {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            align-items: flex-start;
                            margin: 0 16px 0 27px;

                            h3 {
                                font-style: normal;
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 29px;
                                text-align: center;
                                color: #100e0e;
                                margin-bottom: 8px;
                                height: 58px;
                            }

                            p {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                text-align: left;
                                color: #585656;
                                height: 114px;
                            }
                        }
                    }

                    a {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: $dark-blue;
                        padding: 17px auto;
                        width: 212px;
                        height: 56px;
                        border: 1px solid #0071e4;
                        border-radius: 8px;
                        text-decoration: none;
                        margin-top: 25px;
                        display: flex;
                        justify-content: center;
                    }
                }

                &__items4 {
                    display: flex;
                    border-radius: 16px;
                    width: 720px;
                    height: 158px;
                    padding: 24px;
                    background: #F9F9F9;

                    img {
                        width: 64px;
                        height: 64px;
                        padding: 0;
                    }

                    &--txt {
                        display: flex;

                        &-sd {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            align-items: flex-start;
                            margin: 0 16px 0 27px;

                            h3 {
                                font-style: normal;
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 29px;
                                text-align: center;
                                color: #100e0e;
                                margin-bottom: 8px;
                                height: 58px;
                            }

                            p {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                text-align: left;
                                color: #585656;
                                height: 114px;
                            }
                        }
                    }

                    a {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: $dark-blue;
                        padding: 17px auto;
                        width: 212px;
                        height: 56px;
                        border: 1px solid #0071e4;
                        border-radius: 8px;
                        text-decoration: none;
                        margin-top: 25px;
                        display: flex;
                        justify-content: center;
                    }
                }

                &__items5 {
                    display: flex;
                    border-radius: 16px;
                    width: 720px;
                    height: 158px;
                    padding: 24px;
                    background: #F9F9F9;

                    img {
                        width: 64px;
                        height: 64px;
                        padding: 0;
                    }

                    &--txt {
                        display: flex;

                        &-sd {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            align-items: flex-start;
                            margin: 0 16px 0 27px;

                            h3 {
                                font-style: normal;
                                font-weight: 700;
                                font-size: 24px;
                                line-height: 29px;
                                text-align: center;
                                color: #100e0e;
                                margin-bottom: 8px;
                                height: 58px;
                            }

                            p {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 19px;
                                text-align: left;
                                color: #585656;
                                height: 114px;
                            }
                        }
                    }

                    a {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: $dark-blue;
                        padding: 17px auto;
                        width: 212px;
                        height: 56px;
                        border: 1px solid #0071e4;
                        border-radius: 8px;
                        text-decoration: none;
                        margin-top: 25px;
                        display: flex;
                        justify-content: center;
                    }
                }
            }

            &__cards2 {
                display: none;

                &--card {
                    display: block;
                    width: 288px;
                    height: 129px;
                    margin-bottom: 24px;

                    &-up {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        margin-bottom: 12px;

                        img {
                            width: 32px;
                            height: 32px;
                        }

                        h3 {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 24px;
                            color: #100e0e;
                            height: 58px;
                        }
                    }

                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #585656;
                        height: 114px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 680px) {
    #advantage {
        h1 {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
        }

        .wrapper {
            &__cards1 {
                display: none;
            }

            &__cards2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;


               &--card {
                width: 100%;
               }
            }
        }
    }
}