header {
    width: 100%;
    position: fixed;
    top: 0;
    background: #FFFFFF;

    .h_s1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        background: #F9F9F9;

        #cities {
            border: none;

        }

        label {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #100E0E;
        }

        select {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #0071E4;
            background: transparent;
        }

        ul {
            display: flex;
            list-style-type: none;
            gap: 8px;

            .logos:hover {
                transform: scale(110%);
            }
        }
    }

    .header_s2 {
        height: 94px;
        display: flex;
        align-items: center;
        margin-bottom: 4px;

        a {
            text-decoration: none;
        }

        .nav {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 32px;

            img {
                margin-right: 12px;
            }

            &__list {
                list-style-type: none;
                display: flex;
                gap: 20px;

                a {
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 21px;
                    color: #100E0E;

                    &:hover {
                        color: #0071E4;
                        border-bottom: 2px solid #0071E4;
                    }

                    &:focus {
                        color: #0071E4;
                        border-bottom: 2px solid #0071E4;
                    }
                }
            }

            .p_number {
                display: flex;
                align-items: center;
                gap: 4px;

                i {
                    color: #B7B7B7;
                    transform: scale(120%);
                }

                a {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    color: #100E0E;

                    &:hover {
                        color: #0071E4;
                        border-bottom: 2px solid #0071E4;
                    }

                    &:focus {
                        color: #0071E4;
                        border-bottom: 2px solid #0071E4;
                    }
                }
            }

            .call_you {
                text-align: right;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #0071E4;
            }
        }
    }

    .h_s2b {
        display: flex;
        justify-content: end;

        a {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #0071E4;
        }
    }

    .header_s3 {
        width: 100%;
        height: 108px;
        display: flex;
        align-items: center;
        gap: 24px;

        .h_s3 {
            display: flex;
            gap: 24px;
            align-items: center;

            .btn1 {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 16px;
                background: #0071E4;
                border-radius: 16px;
                border: transparent;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
                cursor: pointer;

                i {
                    font-size: 24px;
                }

                &:hover {
                    background: #5035F7;
                }

                &:focus {
                    background: #9747FF;
                }
            }

            .search {
                display: flex;
                align-items: center;
                justify-content: start;
                width: 560px;
                height: 56px;
                border: 1px solid #B7B7B7;
                border-radius: 8px;
                padding: 0 24px;
                gap: 8px;

                i {
                    font-size: 28px;
                }

                input {
                    width: 100%;
                    height: 50px;
                    border: none;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .icons {
                display: flex;
                align-items: center;
                gap: 24px;
            }

            .btn2 {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 16px 31px;
                background: #52D116;
                border-radius: 16px;
                border: transparent;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
                gap: 4px;
                cursor: pointer;

                .num {
                    background: #46C609;
                    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 32px;
                    padding: 4px 12px;
                }
            }
        }
    }

    .header_s4 {
        display: flex;
        align-items: center;
        width: 100%;
        height: 80px;

        .h_s4 {
            display: flex;
            align-items: center;
            gap: 32px;
        }

        .h_wrapper {
            display: flex;
            gap: 16px;

        }

        .h_w {
            display: flex;
            align-items: center;
            gap: 8px;

            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                color: #100E0E;
            }
        }

        .iphone14 {
            display: flex;
            align-items: center;
            gap: 11px;
            width: 280px;
            height: 64px;
            background: linear-gradient(90deg, #000000 22.19%, #5E556B 100%);
            border-radius: 8px;
            padding-left: 5px;
            padding-right: 15px;
            cursor: pointer;

            h1 {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                margin: 0;
            }
        }
    }
}