#newIphone {
    width: 100%;
    height: 360px;
    background: #000000;

    .np {
        display: flex;
        align-items: center;
        gap: 88px;

        .esi {
            display: none;
        }

        &_text {
            h1 {
                font-weight: 700;
                font-size: 56px;
                line-height: 67px;
                color: #FFFFFF;
                margin: 0;
            }

            p {
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
                margin: 16px 0 24px 0;
            }

            button {
                padding: 18px 39px;
                border: none;
                background: #0071E4;
                border-radius: 8px;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                cursor: pointer;

                &:hover {
                    background: #2A93FD;
                }

                &:active {
                    background: #E7E7E7;
                }
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    #newIphone {
        width: 100%;
        height: 217px;

        .np {
            display: flex;
            gap: 72px;

            img {
                width: 110px;
                height: 217px;
            }

            .np_text {
                h1 {
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 38px;
                }

                p {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    #newIphone {
        width: 100%;
        height: 220px;
        background: #000000;
        display: flex;
        align-items: center;
        justify-content: center;

        .np {
            display: flex;
            align-items: center;
            gap: 24px;
            height: 170px;

            .curr {
                display: none;
            }

            .esi {
                display: block;
            }

            &_text {
                h1 {
                    font-weight: 700;
                    font-size: 24px !important;
                    line-height: 67px;
                    color: #FFFFFF;
                    margin: 0;
                }

                p {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 29px;
                    color: #FFFFFF;
                    margin: 16px 0 24px 0;
                }

                button {
                    padding: 10px 39px;
                    border: none;
                    background: #0071E4;
                    border-radius: 8px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 19px;
                    color: #FFFFFF;
                    cursor: pointer;

                    &:hover {
                        background: #2A93FD;
                    }

                    &:active {
                        background: #E7E7E7;
                    }
                }
            }
        }
    }
}